<header class="header">
    <div class="header-content">
        <div class="logo-section">
            <img src="https://github.com/C4rL0Xt/images_repo/blob/master/logotipo/ranchologo.png?raw=true" alt="Logo"/>
        </div>
        <nav class="nav">
            <div class="nav-option">
                <a>Nuestra carta</a>
            </div>
            <div class="nav-option">
                <a>Menus</a>
            </div>
            <div class="nav-option">
                <a>Promociones</a>
            </div>
        </nav>
        <div class="user-section">
            <a class="icon user">Log In 
                <img src="https://github.com/C4rL0Xt/images_repo/blob/master/icons/user.png?raw=true"/>
            </a>
        </div>
    </div>
</header> 