<div class="create-container">

    <div class="title-container">
        <div class="rutas">
            <a [routerLink]="'/order'">Mesas</a>
        </div>
        <div class="pedido">
            Pedido #1
        </div>
        <div class="fecha">
            Fecha pui
        </div>
    </div>

    <div class="paneles-container">
        <div class="panel-buscar">

        </div>
        <div class="panel-items-and-buttons">
            <div class="panel-items">
                <label class="num-items">Items (3)</label>
                <div class="divisor"></div>
                <div class="itemsp"></div>
            </div>
            <div class="buttons">
                <button class="button-guardar">GUARDAR</button>
                <button class="button-imprimir">IMPRIMIR CUENTA</button>
            </div>
        </div>
    </div>
</div>
