<div class="container">
    <div class="image-container">
        <img src={{local.imagen}} alt="Imagen">
    </div>
    <div class="description-container">
        <div class="local-name">{{local.nombre}}</div>
        <p class="description">Local Description</p>
        <div class="direction">
            <span class="material-icons">location_on</span>
            <p>{{local.ubicacion}}</p>
        </div>
        <div class="horario">
            <span class="material-icons">schedule</span>
            <p>{{local.horario}}</p>
        </div>
        <div class="telefono">
            <span class="material-icons">call</span>
            <p>{{local.telefono}}</p>
        </div>
    </div>
    <div class="button-container">
        <button>Abrir en google maps <span class="material-icons">map</span></button>
    </div>
</div>
