<div class="form-container">
  <div class="formsp">
    <h1>Registrarme</h1>
    <p>Por favor, ingrese la siguiente información</p>
    <form [formGroup]="registerForm"  (ngSubmit)="onSubmit(registerForm.value)">
      
      <div class="form-group">
        <input type="text" placeholder="Nombres" formControlName="nombre"  required />
        <input type="text" placeholder="Apellidos" formControlName="apellido" required />
      </div>
      <div class="form-group">
        <input type="email" placeholder="Correo Electrónico" formControlName="email" required />
      </div>
      <div class="form-group">
        <input type="date" placeholder="Fecha nacimiento" formControlName="fechaNacimiento" required />
        <input type="text" placeholder="Documento" formControlName="documento" required />
        <input type="tel" placeholder="Nro. telefónico" formControlName="telefono" required />
      </div>
      <div class="form-group">
        <input type="password" placeholder="Contraseña" formControlName="password" required />
        <input type="password" placeholder="Verificar contraseña" required />
      </div>

      <div class="form-check" class="form-check2">
        <input type="checkbox"/>
        <label>He leído y acepto los términos y condiciones y políticas de privacidad [*].</label>
      </div>
      <div class="form-check" >
        <input type="checkbox"/>
        <label>Acepto el envío de Cortesías, Ofertas, Promociones y otros fines adicionales.</label>
      </div>
      <button type="submit">REGISTRARSE</button>
      <p class="login-link">
        ¿Ya tienes una cuenta? <a (click)="toggleValor()">Inicia Sesión</a>
      </p>
    </form>
  </div>
  </div>