.carousel{
    overflow-x: hidden;
    display: flex;
    width: 100%;
    width: 100vw; /* Ancho completo de la ventana */
    height: calc(100vh - 82px);
    position: relative;
    
}

.carousel button{
    position: absolute;
}

.fondo{
    flex: 0 0 100%;
    width: 100%;
    height: 100%;
    transform: translateX(0);
    
}

.fondo img{
    object-fit: cover;
    width: 100%;
    height: 100%;
}

.fondo h1{
    position: absolute;
    width: 650px;
    margin-left: 80px;
    color: #ffffff;
    font-size: 80px;
    font-family: sans-serif;
}

.fondo2{
    opacity: 0.8;
    width: 100%;
    height: calc(100% - 76px);
}


.hidden {
    opacity: 0;
    pointer-events: none;
}

.visible {
    opacity: 1;
    pointer-events: auto;
}

.carousel .fondo {
    transition: transform 1.5s;
  }




  /* Botones del carrusel */
.carousel-btn {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 24px;
    cursor: pointer;
    z-index: 10;
  }
  
  .carousel-btn.prev {
    left: 10px;
  }
  
  .carousel-btn.next {
    right: 10px;
  }
  
  .carousel-btn:hover {
    background-color: rgba(0, 0, 0, 0.8);
  }
  
  /* Indicadores del carrusel */
  .carousel-indicators {
    display: flex;
    justify-content: center;
    gap: 8px;
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 10;
  }
  
  .carousel-indicators span {
    font-size: 35px;
    color: rgba(255, 255, 255, 0.5);
    cursor: pointer;
  }
  
  .carousel-indicators span.active {
    color: white;
    font-size: 35px;
  }