<div class="carousel">
  <button class="carousel-btn prev" (click)="previous()">&#8249;</button> <!-- Botón de atrás -->
  <div class="fondo">
      <img src="https://github.com/C4rL0Xt/images_repo/blob/master/images/fondo11.webp?raw=true"/>
    </div>
    <div class="fondo">
      <img
        src="https://github.com/C4rL0Xt/images_repo/blob/master/images/fondo20.jpg?raw=true"
        alt="imagen del fondo 2"
      />
    </div>
    <div class="fondo">
      <img
        src="https://github.com/C4rL0Xt/images_repo/blob/master/images/restaurante.webp?raw=true"
        alt="imagen del fondo 2"
      />
    </div>
    <button class="carousel-btn next" (click)="next()">&#8250;</button> <!-- Botón de siguiente -->

  </div>

  <div class="carousel-indicators">
    <span *ngFor="let _ of getItems(); let i = index" 
          [class.active]="i === currentIndex" 
          (click)="jumpTo(i)">
      &#9679;
    </span>
  </div>
