<div class="carousel">
    <div class="fondo">
      <h1>El sabor del Perú en cada bocado</h1>
      <img
        class="imagen"
        src="https://github.com/C4rL0Xt/images_repo/blob/master/images/fondo11.webp?raw=true"
      />
    </div>
    <div class="fondo">
      <img
        src="https://github.com/C4rL0Xt/images_repo/blob/master/images/fondo2.jpg?raw=true"
        alt="imagen del fondo 2"
      />
    </div>
  </div>
  
  <div class="controls">
    <button (click)="previous()">Anterior</button>
    <button (click)="next()">Siguiente</button>
  </div>