<div class="overlay">
    <div class="imagen">
        <img src="https://github.com/C4rL0Xt/images_repo/blob/master/images/chicha_morada_f.jpg?raw=true"/>
      </div>
    <div class="boton">
        <button class="close-button" (click)="closeDialog()">X</button>
    </div>
    <div class="palabras">
        <h2>INGRESA A</h2>
        <h1>EL RANCHO DE ABELITO</h1>
    </div>
    <div class="type">
        <div class="clientes">
            <img src="https://github.com/C4rL0Xt/images_repo/blob/master/images/clientes.jpg?raw=true">
            <h2>Clientes</h2>
        </div>
        <div class="empleados">
            <img src="https://github.com/C4rL0Xt/images_repo/blob/master/images/mesero.jpg?raw=true"/>
            <h2>Empleados</h2>
        </div>

    </div>
    
</div>
