<div class="container">
    <div class="image-bg-container">
        <img class="image-bg" src="https://github.com/C4rL0Xt/images_repo/blob/master/images/abelito1.png?raw=true">
    </div>
    <div class="box-content">
        <div [ngClass]="{'form-container': valorCompartido, 'form-container-register': !valorCompartido}">
            <div *ngIf="valorCompartido">
                <app-login-form (cambioValor)="actualizarValor($event)"></app-login-form>
            </div>

            <div *ngIf="!valorCompartido">
                <app-register-form (cambioValor)="actualizarValor($event)" ></app-register-form>
            </div>        
        </div>
        <div [ngClass]="{'image-container': valorCompartido, 'image-container-register': !valorCompartido}">
            <img class="image" src="https://github.com/C4rL0Xt/images_repo/blob/master/images/abelito1.png?raw=true" id="abelito">
        </div>
    </div>
</div>