<div class="overlay">
    <div class="boton">
        <button class="close-button" (click)="closeDialog()">X</button>
    </div>
    <div class="palabras">
        <h2>INGRESA A</h2>
        <h1>EL RANCHO DE ABELITO</h1>
    </div>
    <div class="type">
        <!--div class="card">
            <img src="https://github.com/C4rL0Xt/images_repo/blob/master/images/mesero.jpg?raw=true"/>
            <button>INICIAR SESION CON CORREO</button>
        </div>
        <div class="card">
            <img src="https://github.com/C4rL0Xt/images_repo/blob/master/images/clientes.jpg?raw=true">
            <button>INICIAR SESION CON GOOGLE</button>
        </div-->
        <button class="button-email">INICIAR SESION CON CORREO</button>
        <button class="button-google">INICIAR SESION CON GOOGLE</button>
        <p class="info-login"> letras </p>
        <button class="button-register">REGISTRARSE</button>
    </div>
    
</div>
