<div class="container">
    <div class="title-login">Iniciar Sesión</div>
    <p class="msg-login">Por favor, ingrese sus datos:</p>
    <div class="mensaje-error" *ngIf="mensajeError.length > 0">{{mensajeError}} !!</div>
    <form [formGroup]="loginForm" class="forms" (ngSubmit)="onSumit(loginForm.value)">
        <input type="email" placeholder="Correo" class="input-field" formControlName="email">
        <input type="password" placeholder="Contraseña" class="input-field" formControlName="password">
        <button class="pass-forged">Olvidé mi contraseña</button>
        <button class="login">Iniciar Sesión</button>
    </form>
    <div class="opts-login">
        <button class="social-button">Google</button>
        <button class="social-button">Facebook</button>
    </div>
    <div class="to-register">
        <p>¿No tienes una cuenta todavía?</p>
        <a (click)="toggleValor()" class="register-link"><strong>Regístrate</strong></a>
    </div>
</div>
