<div class="container">
    <h1 class="title-login">Iniciar Sesión</h1>
    <p class="msg-login">Por favor, ingrese sus datos:</p>
    <form action="" class="forms">
        <input type="text" placeholder="Correo" class="input-field">
        <input type="password" placeholder="Contraseña" class="input-field">
    </form>
    <button class="pass-forged">Olvidé mi contraseña</button>
    <button class="login">Iniciar Sesión</button>
    <div class="opts-login">
        <button class="social-button">Google</button>
        <button class="social-button">Facebook</button>
    </div>
    <div class="to-register">
        <p>¿No tienes una cuenta todavía?</p>
        <a (click)="toggleValor()" class="register-link"><strong>Regístrate</strong></a>
    </div>
</div>
