<app-orden-estado *ngIf="panelAbierto == true" [mesaId]="mesa?.mesaId"></app-orden-estado>
<div class="card-container" [ngClass]="{'activo': mesa?.estado == false, 'inactivo': mesa?.estado == true}"> 
    <div class="cabecera-container">
        <div class="num-mesa">
            <u>Mesa N°{{mesa?.mesaId}}</u>
        </div>
        <div class="estado-container">
            Estado:
            <img *ngIf="mesa?.estado == false" src="https://static-00.iconduck.com/assets.00/not-available-icon-2048x2048-xfinx8xi.png" alt="">
            <img *ngIf="mesa?.estado == true" src="https://icon-library.com/images/available-icon/available-icon-9.jpg" alt="">
        </div>
    </div> 
    <div class="capacidad-container" (click)="changeState()">
        Capacidad: {{mesa?.capacidad}}
    </div>
    <div class="options-container">
        <button (click)="navigateToCreate(mesa?.mesaId)" *ngIf="mesa?.estado == true">
            <span class="material-icons">sync</span>
            Asignar pedido</button>
        <button *ngIf="mesa?.estado == false">
            <span class="material-icons">sync</span>
            Actualizar Pedido</button>
        <button *ngIf="mesa?.estado == false" (click)="abrirPanelVerProductos()">
            <span class="material-icons">browse_gallery</span>
            Ver productos</button>
    </div>
</div>
